.footer-ft {
    z-index: 99;
    position: fixed;
    bottom: 0px;
    background-color: #666666;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 15px;
    margin-top: 150px;
    border-top-width: 6px;
    border-top-style: solid;
    border-top-color: #4aaaa5;
}

.footer-sv {
    z-index: 99;
    position: relative;
    bottom: 0px;
    background-color: #666666;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 15px;
    margin-top: 150px;
    border-top-width: 6px;
    border-top-style: solid;
    border-top-color: #4aaaa5;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}